* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #6830308a;
}

.container {
    background: rgb(226, 219, 219);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    width: 220px;
    padding: 10px;
    margin: 15px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

h3 {
    margin-top: 15px;
}